@import "../../colours.scss";
.portfolio {
  .total-weight {
    float: right;
    margin-right: 5px;
  }

  .portfolio-weighting-btns {
    float: left;
    width: 100%;
    margin: 10px 0;
    button {
     margin: 0 5px;
      width: 48%;
      outline: none;
      background-color: $blue-0;
      font-weight: bold;
      float: right;
      &:hover {
        background-color: $green-blue-3;
      }
      &:first-of-type {
        float: left;
      }
    }
  }

  .stocks:first-of-type {
    clear: both;
    flex-wrap: wrap;
    display: flex;
  }
}
