@import "../../colours.scss";

.portfolio-item {
  margin-top: 30px;
  width: 600px;
  .column {
    width: 32%;
    box-sizing: content-box;
    display: inline-block;
    border: 1px solid $blue-1;
    margin: 1px;
    height: 30px;

    input {
      border: none;
    }

    button {
      color: #fff;
      background-color: $danger-red;
      border: 1px solid $danger-red-dark;
      padding: 5px 30px;
      height: 30px;
    }
  }

  .column:last-of-type {
    border: none;
    text-align: left;
  }
}
