$blue-0 :  rgb(79, 224, 235);
$blue-1 :  #00CFDC;

$blue-2 :  #00B4EF;

$blue-3 :  #2994E5;

$green-blue-1: #00E4B4;
$green-blue-3: rgb(123, 248, 221);

$green-blue-2: #9AF289;

$bg: rgb(240, 250, 248);

$danger-red : #EE605E;

$danger-red-dark : rgb(190, 69, 67)